<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Vendor Registration</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="<%= admin_categories_url %>">Home</a></li>
                <li class="breadcrumb-item active">Vendor Registration</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header p-0 pt-1">
                    </div>
                    <div class="card-body">

                        <div class="table-responsive mt-3">
                            <table class="table table-bordered table-striped" id="example1">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Address</th>
                                        <th>Country</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
									<% if @vendor_registrations.present? %>
										<% @vendor_registrations.each do |data| %>
											<tr>
												<td>
													<% if data.image_data.present? %>
														<img src="<%= data.image_url(:large) %>" height="100px" width="130px">
													<% else %>
														-
													<% end %>
												</td>
												<td><%= data.first_name %></td>
												<td><%= data.last_name %></td>
												<td><%= data.email %></td>
												<td><%= data.phone %></td>
												<td><%= data.address %></td>
												<td><%= data.country %></td>
												<td>
													<% if can? :update, @vendor_registrations %>
                                                        <% if data.status == false %>
                                                            <button class="btn btn-primary mr-3 update-record" title="Resolved inquiry." data-id="<%= data.id %>">
                                                                <i class="fa fa-check"></i>
                                                            </button>
                                                        <% else %>
                                                            <button class="btn btn-secondary mr-3">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        <% end %>
													<% end %>
													<% if can? :destroy, @vendor_registrations %>
														<button class="btn btn-danger mr-3 delete-record" data-id="<%= data.id %>">
															<i class="fa fa-trash"></i>
														</button>
													<% end %>
												</td>
											</tr>
										<% end %>
									<% else %>
										<tr>
											<td colspan="3" style="text-align: center;">Record not found!</td>
										</tr>
									<% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateStatusModel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Resolve Vendor Registration</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Plase press Resolve button if you resolved your inquiry?</p>
                </div>
                <div class="modal-footer">
                    <input type="number" id="delete_id" name="delete_id" hidden>
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary confirm-update-status">Resolve</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete <i class="fa fa-trash"></i></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this record?</p>
                </div>
                <div class="modal-footer">
                    <input type="number" id="delete_id" name="delete_id" hidden>
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary confirm-delete">Delete</button>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
	$(document).ready(function() {

		$('.update-record').click(function () {
            var recordId = $(this).data('id');
            $('#updateStatusModel').modal('show');

            $('.confirm-update-status').click(function () {
                $('#updateStatusModel').modal('hide');
                var csrfToken = $('meta[name=csrf-token]').attr('content');

                $.ajax({
                    url: '<%= update_status_admin_vendor_registrations_path %>',
                    method: 'GET',
                    data: { id: recordId },
                    headers: {
                        'X-CSRF-Token': csrfToken
                    },
                    success: function(response) {
                        location.reload();
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });

            });
		});

		$('.delete-record').click(function () {
            var recordId = $(this).data('id');
            $('#deleteModel').modal('show');

            $('.confirm-delete').click(function () {
                $('#deleteModel').modal('hide');
                var csrfToken = $('meta[name=csrf-token]').attr('content');

                $.ajax({
                    url: '/admin/vendor_registrations/' + recordId,
                    headers: {
                        'X-CSRF-Token': csrfToken
                    },
                    method: 'DELETE',
                    success: function() {
                        location.reload();
                    }
                });
            });
		});
	});
</script>
