<footer class="black-bg-1 py-50 py-30-mob zoom">
  <div class="container-fluid">
    <div class="container-1">
      <div class="row">
        <div class="col-lg-5 col-12">
          <div class="heading-3 white fs-14-mob fs-20">
            Stay in the loop with our newsletter!
          </div>
          <form id="footer" class="mt-30">
            <label for="email">Define E-Mail Address<span><img src="/images/footer/footer-arrow.png"
                  class="w-20px"></span></label>
            <input type="email" id="email1" required>
          </form>
          <div class="mt-15">
            <div class="heading-2 fs-14 fs-10-mob opacity-1">
              Stay connected with Elan Furnishing to discover an array of exclusive privileges. Be at the forefront of our newest
              arrivals, limited-time offers, and captivating updates. Become part of our community, where enthusiasts of exquisite
              home decor unite in style
            </div>
          </div>
          <div class="mt-50 mt-30-md d-none-mob">
            <div class="d-flex align-items-center">
              <a href="https://www.facebook.com/ELANFurnishings" target="_blank" class="">
                <img src="/images/footer/footer-fb.png" class="w-30px">
              </a>
              <a href="https://www.instagram.com/elanfurnishing/" target="_blank" class="ml-10">
                <img src="/images/footer/footer-insta.png" class="w-30px">
              </a>
              <a href="https://www.youtube.com/@elanfurnishing" target="_blank" class="ml-10">
                <img src="/images/footer/footer-youtube.png" class="w-30px">
              </a>
              <a href="https://in.pinterest.com/ELANFurnishings" target="_blank" class="ml-10">
                <img src="/images/footer/footer-pinterest.png" class="w-30px">
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-1">

        </div> -->
        <div class="col-lg-7 mt-40-md d-none-mob">
          <div class="d-flex justify-content-between">
            <a href="<%= our_story_path %>">
              <span class="heading-8 fs-14 white">
                Story
              </span>
            </a>
            <a href="<%= brands_path %>">
              <span class="heading-8 fs-14 white">
                Brands
              </span>
            </a>
            <a href="<%= our_collections_path %>">
              <span class="heading-8 fs-14 white">
                Collections
              </span>
            </a>
            <a href="<%= our_services_path %>">
              <span class="heading-8 fs-14 white">
                Services
              </span>
            </a>
            <a href="">
              <span class="heading-8 fs-14 white">
                NRI Homes
              </span>
            </a>
            <a href="<%= media_path %>">
              <span class="heading-8 fs-14 white">
                Publications
              </span>
            </a>
            <a href="<%= blogs_path %>">
              <span class="heading-8 fs-14 white">
                Blogs
              </span>
            </a>
            <a href="<%= vendor_registration_path %>">
              <span class="heading-8 fs-14 white">
                Vendor_Registration
              </span>
            </a>
            <a href="<%= faq_path %>">
              <span class="heading-8 fs-14 white">
                FAQ
              </span>
            </a>
          </div>
          <div class="mt-100 mt-40-md">
            <div class="text-align-right">
              <a href="tel:+91 8148107736">
                <span class="sub-heading-2">+91 81481
                  07736</span>
              </a>
            </div>
            <div class="mt-15 text-align-right heading-2 fs-18">
              17, Kasturi Rangan Rd, Poes Garden, <br> Alwarpet, Chennai, Tamil Nadu 600018
            </div>
            <div class="mt-20 text-align-right">
              <a href="mailto:info@elandecor.in" target="_blank"><span class="heading-2 fs-18">info@elandecor.in</span></a>
            </div>
          </div>
        </div>
        <div class="d-block-mob d-none-web">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-5">
                <div class="d-flex">
                  <div>
                    <div class="mt-10-mob">
                      <a href="">
                        <span class="heading-8 fs-14 fs-10-mob white">
                          Story
                        </span>
                      </a>
                    </div>
                    <div class="mt-10-mob">
                      <a href="">
                        <span class="heading-8 fs-14 fs-10-mob white">
                          Brands
                        </span>
                      </a>
                    </div>
                    <div class="mt-10-mob">
                      <a href="">
                        <span class="heading-8 fs-14 fs-10-mob white">
                          Collections
                        </span>
                      </a>
                    </div>
                    <div class="mt-10-mob">
                      <a href="">
                        <span class="heading-8 fs-14 fs-10-mob white">
                          Services
                        </span>
                      </a>
                    </div>
                    <div class="mt-10-mob">
                      <a href="<%= faq_path %>">
                        <span class="heading-8 fs-14 fs-10-mob white">
                          FAQ
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="ml-3">
                    <div class="mt-10-mob">
                      <a href="">
                        <span class="heading-8 fs-14 fs-10-mob white">
                          NRI Homes
                        </span>
                      </a>
                    </div>
                    <div class="mt-10-mob">
                      <a href="">
                        <span class="heading-8 fs-14 fs-10-mob white">
                          Publications
                        </span>
                      </a>
                    </div>
                    <div class="mt-10-mob">
                      <a href="">
                        <span class="heading-8 fs-14 fs-10-mob white">
                          Blogs
                        </span>
                      </a>
                    </div>
                    <div class="mt-10-mob">
                      <a href="">
                        <span class="heading-8 fs-14 fs-10-mob white">
                          Vendor_Registration
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="mt-50 mt-30-md mt-30-mob">
                  <div class="d-flex align-items-center">
                    <!-- <a href="https://www.facebook.com/ELANFurnishings" class="">
                      <img src="/images/footer/footer-fb.png" class="w-30px w-25-mob">
                    </a>
                    <a href="https://www.instagram.com/elanfurnishing/" class="ml-10">
                      <img src="/images/footer/footer-insta.png" class="w-30px w-25-mob">
                    </a>
                    <a href="" class="ml-10">
                      <img src="/images/footer/footer-twit.png" class="w-30px w-25-mob">
                    </a> -->
                    <a href="https://www.facebook.com/ELANFurnishings" target="_blank" class="">
                      <img src="/images/footer/footer-fb.png" class="w-30px w-25-mob">
                    </a>
                    <a href="https://www.instagram.com/elanfurnishing/" target="_blank" class="ml-10">
                      <img src="/images/footer/footer-insta.png" class="w-30px w-25-mob">
                    </a>
                    <a href="https://www.youtube.com/@elanfurnishing" target="_blank" class="ml-10">
                      <img src="/images/footer/footer-youtube.png" class="w-30px w-25-mob">
                    </a>
                    <a href="https://in.pinterest.com/ELANFurnishings" target="_blank" class="ml-10">
                      <img src="/images/footer/footer-pinterest.png" class="w-30px w-25-mob">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-7">
                <div class="mt-100 mt-40-md mt-10-mob">
                  <div class="text-align-right">
                    <a href="tel:+91 8148107736">
                      <span class="sub-heading-2 fs-18-mob">+91 81481 07736</span>
                    </a>
                  </div>
                  <div class="mt-15 text-align-right heading-2 fs-18 fs-12-mob">
                    17, Kasturi Rangan Rd, Poes Garden, <br> Alwarpet, Chennai, Tamil Nadu 600018
                  </div>
                  <div class="mt-20 text-align-right heading-2">
                    <a class="heading-2 fs-18 fs-12-mob" href="mailto:info@elandecor.in"><span>info@elandecor.in</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-30">
      <div class="border-4">
      </div>
    </div>
    <div class="container-1">
      <div class="mt-40 mt-20-mob">
        <div class="d-flex-lg d-block-mob justify-between text-center-mob">
          <div class="heading-2 fs-14 fs-12-mob">
            © 2023 All rights reserved
          </div>
          <div class="">
            <a href="https://tailwebs.com/" target="_blank">
              <span class="heading-2 fs-14 fs-12-mob">Design & Developed by Tailwebs</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  #footer label {
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #footer input {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #8D8D8D;
    background-color: #0f0f0f;
    color: #ffffff;
  }

  #footer input:focus {
    outline: none;
  }

  @media (max-width: 576px) {
    .container-1 {
      padding-left: 10px;
      padding-right: 10px;
    }

    #footer label {
      font-size: 12px;
    }
  }
</style>

<script>
  // Use no-conflict mode to avoid conflicts with other libraries
  jQuery(document).ready(function ($) {
    $('#footer').submit(function (e) {
      e.preventDefault(); // Prevent the default form submission

      // Get form data
      var formData = {
        email: $('#email1').val(),
      };

      var csrfToken = $('meta[name=csrf-token]').attr('content');

      // Send AJAX request
      $.ajax({
        type: 'POST',
        url: '<%= send_newsletter_mail_path %>',
        headers: {
          'X-CSRF-Token': csrfToken
        },
        data: formData,
        success: function (response) {
          // Assuming your modal has the ID "myModal"
          $('#myModal').show();
        },
        error: function (error) {
          console.error('Error submitting the form:', error);
        }
      });
    });

    // Close modal when the close button is clicked
    $('#closeModal').click(function () {
      $('#myModal').hide();
      $('#myCall')[0].reset();
      // location.reload();
    });
  });
</script>
