<header class="position-1 zoom">
  <section class="black-bg p-2">
    <div class="container-fluid">
      <div class="d-flex align-items-center justify-content-end">
        <div class="mr-4">
          <a href=" https://www.facebook.com/ELANFurnishings" target="_blank">
            <img src="/images/home-page/fb-banner.png" class="w-10px">
          </a>
        </div>
        <div class="mr-4">
          <a href="https://www.instagram.com/elanfurnishing/" target="_blank">
            <img src="/images/home-page/insta-banner.png" class="w-20px">
          </a>
        </div>
        <div class="">
          <a href="https://www.youtube.com/@elanfurnishing" target="_blank">
            <img src="/images/home-page/youtube-banner.png" class="w-20px">
          </a>
        </div>
      </div>
    </div>
  </section>

  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="<%= root_path %>">
      <img src="/images/home-page/elan-logo.png" width="80" class="d-inline-block align-top w-60-mob" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="<%= root_path %>">HOME</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="<%= our_story_path %>"  data-toggle="dropdown" aria-expanded="false">
            OUR STORY
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="<%= media_path %>">MEDIA & PUBLICATION</a>
            <a class="dropdown-item" href="<%= our_story_path %>">OUR STORY</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="<%= brands_path %>" role="button" data-toggle="dropdown" aria-expanded="true">
            BRAND
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="<%= brands_path %>">BRANDS WE HOUSE</a>
            <a class="dropdown-item" href="<%= clientele_path %>">CLIENTELE</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= our_collections_path %>">OUR COLLECTIONS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= our_services_path %>">OUR SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Nri Homes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= blogs_path %>">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= contact_us_path %>">CONTACT</a>
        </li>
      </ul>
    </div>

  </nav>

  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
  </nav> -->
</header>


<style>
  .navbar-light .navbar-nav .nav-link {
    color: #FFF;
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .navbar {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }

  .navbar .dropdown-menu {
    font-size: 12px !important;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    color: #A7833D !important;
  }

  .navbar-light .navbar-nav .show>.nav-link {
    color: #A7833D !important;
  }

  .navbar-light .navbar-nav .nav-link:focus {
    color: #A7833D !important;
  }

  /* Custom CSS for dropdown hover */
  .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }



  @media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar-light .navbar-nav .nav-link {
      font-size: 12px;
    }

    .navbar {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .navbar-light .navbar-toggler-icon {
      background-image: url('/images/home-page/hamber-mob.png') !important;
    }

    .navbar {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  }

  @media (max-width: 991px) {
    .navbar-collapse {
      margin-top: 20px !important;
      background-color: #1e1e1e !important;
    }

    .navbar-collapse .nav-link {
      text-align: left !important;
    }
  }

  @media (max-width: 576px) {
    .navbar {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }

    .navbar-light .navbar-toggler-icon {
      background-image: url('/images/home-page/hamber-mob.png') !important;
    }

    .w-60-mob{
      width: 60px !important;
    }

  }
</style>