<%= render "shared/header" %>

<div class="">
  <section class="bg-images h-100h-md h-100vh"
    style="background-image: url('/images/design-service/design-service-banner.png');">
    <div class="bg-shadow-1 h-100vh h-80vh-lg h-100h-md h-80vh-mob">
      
      <div class="container-fluid">
        <div class="h-100vh h-80vh-lg h-100h-md h-80vh-mob m-auto d-flex align-items-center">
          <div class="px-20 px-0-mob mt-50 mt-0-mob">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="heading-3 text-upper fs-25 fs-18-mob white">
                  Unleash Designer Luxury in Your Home
                </div>
                <div class="mt-20">
                  <div class="heading-1 fs-35 fs-25-mob">
                    Indulge in Personalized Home Design with our Premium Soft Furnishings – Where Every Detail Matters
                  </div>
                </div>
              </div>

              <div class="col-lg-5 offset-lg-1 mt-40-md">
                <div class="white-bg p-15 br-10 position-1-mob w-95p-mob box-shadow-mob">
                  <div class="heading-8">
                    Get in touch!
                  </div>

                  <form class="mt-20" id="myFormDS">
                    <div class="form-group">
                      <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                      <input type="tel" class="form-control" name="phone" id="phone" placeholder="Phone Number" required>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Email Address" required>
                    </div>
                    <div class="form-group">
                      <select class="form-control drop" name="area" id="area" required>
                        <option value="" disabled selected>Select Area</option>
                        <option value="area1">Area 1</option>
                        <option value="area2">Area 2</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" name="city" id="city" placeholder="City" required>
                    </div>

                    <button type="submit" class="btn btn-5 w-100p mt-20">Get Quote</button>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-40 pt-300-mob pt-small-350">
    <div class="container">
      <div class="heading-1 black-1 fs-35 fs-20-mob text-center">
        Area of Expertise
      </div>
      <div class="mt-20">
        <div class="text-center heading-2 fs-16 fs-12-mob black-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse massa libero, mattis volutpat id.
          Egestas
          adipiscing placerat eleifend a nascetur. Mattis proin enim, nam porttitor vitae. Faucibus vel porttitor
          imperdiet
          ultricies a eget sed.
        </div>
      </div>
      <div class="mt-30 mt-20-mob">
        <div class="row">
          <div class="col-lg-4 col-sm-4 mt-20-mob">
            <div>
              <img src="/images/design-service/area-1.png" class="w-100p">
            </div>
          </div>
          <div class="col-lg-4 col-sm-4 mt-20-mob">
            <div>
              <img src="/images/design-service/area-2.png" class="w-100p">
            </div>
          </div>
          <div class="col-lg-4 col-sm-4 mt-20-mob">
            <div>
              <img src="/images/design-service/area-3.png" class="w-100p">
            </div>
          </div>
        </div>
      </div>
      <div class="mt-20 text-center">
        <button type="button" class="btn btn-5 w-40p w-80p-mob mt-20 showModal">Get Quote</button>
      </div>
    </div>
  </section>

  <section class="sandal-bg py-50 py-20-mob">
    <div class="container">
      <div class="heading-1 fs-35 fs-25-mob black-1 text-center">
        Why Us
      </div>
      <div class="mt-20">
        <div class="heading-2 black-3 fs-18 fs-12-mob text-center">
          Our expert team will understand your space. We endeavour to transform your spaces with our perfect selected
          curation of
          fine fabrics, soft furnishing, wall coverings, floor coverings, bespoke collection of artefacts and unique
          decor fully
          customised to your requirements.
        </div>
      </div>
      <div class="mt-50 mt-30-mob">
        <%= render "shared/why_us" %>
      </div>
    </div>
  </section>

  <section class="white-bg py-40">
    <div class="container">
      <div class="heading-1 fs-35 fs-25-mob black-1 text-center">
        Choose By Products
      </div>
      <div class="mt-10 d-none-mob">
        <div class="row">
          <% @categories.each do |data| %>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mt-20">
              <a href="<%= show_product_path(data) %>">
                <img src="<%= data.image2_url(:medium) %>" class="w-100p">
                <div class="collection-position" style="background: none;"></div>
                <div class="heading-8 white fs-14-mob position-4 text-center text-upper">
                  <%= data.name %>
                </div>
              </a>
            </div>
          <% end %>
          
        </div>
      </div>
      <div class="d-none-web d-none-md">

      </div>
      <div class="mt-20 text-center">
        <button type="button" class="btn btn-5 w-40p w-80p-mob mt-20 showModal">Get Quote</button>
      </div>
    </div>
  </section>

  <section class="grey-bg-1 py-40 py-20-mob">
    <div class="container">
      <div class="heading-1 fs-35 fs-25-mob black-1 text-center mt-30 mt-0-mob">
        Let’s build your home together!
      </div>
      <div class="mt-20 text-center sub-heading black-1 fs-18 fs-14-mob lh-30 lh-inherit-mob">
        Building a new home and furnishing your own space is a reflection of your personality. It’s one of the most
        delightful
        things you do! Here are a few questions that people often ask us. If you have any other questions, you can
        reach us by
        clicking on the contact us button.
      </div>
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-head collapsed" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="false" aria-controls="collapseOne">
            <h2>
              Can I sit at home & revamp my home?
            </h2>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              Yes, absolutely! Our expert team will understand your space. We endeavour to transform your space with
              our home design
              services.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-head collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
            <h2>
              What are the sizes of your Bed Covers?
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              Our Bed Covers are standard 90 X 108”. We also do specialised measurements in 100 X 10”
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-head collapsed" id="headingThree" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="false" aria-controls="collapseThree">
            <h2>
              Do you customise Bed Linens?
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Yes, we do customise Bed Linens according to the size preference of fabric & design of the clients.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-head collapsed" id="headingFour" data-toggle="collapse" data-target="#collapseFour"
            aria-expanded="false" aria-controls="collapseFour">
            <h2>
              Can Curtains be washed?
            </h2>
          </div>

          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              It’s safest to give your curtains to a professional laundry.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-head collapsed" id="headingFive" data-toggle="collapse" data-target="#collapseFive"
            aria-expanded="false" aria-controls="collapseFive">
            <h2>
              Can Upholstery be washed?
            </h2>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
              No, sticked upholstery cannot be washed. However loose covers can be washed by hand in cold water.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-head collapsed" id="headingSix" data-toggle="collapse" data-target="#collapseSix"
            aria-expanded="false" aria-controls="collapseSix">
            <h2>
              Do you do customisation?
            </h2>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
            <div class="card-body">
              We offer specialised services for medium & large sized orders. We have worked with reputed interior
              designers and
              reputed hotels to fulfill their bedding and bath needs.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-head collapsed" id="headingSeven" data-toggle="collapse" data-target="#collapseSeven"
            aria-expanded="false" aria-controls="collapseSeven">
            <h2>
              What are sheer curtains?
            </h2>
          </div>

          <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
            <div class="card-body">
              It's an undeniable fact that curtains & drapes possess an elegance unrivalled by other window
              treatments. Sheer curtains
              or sheers are lightweight, easy to hang fabrics that instantly add a hazy, dreamy quality to a room
              without dominating
              the decor. Right from enveloping the windows and softening the lighting to adding an infusion of style
              into your
              interior decor.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-head collapsed" id="headingEight" data-toggle="collapse" data-target="#collapseEight"
            aria-expanded="false" aria-controls="collapseEight">
            <h2>
              <span>How does upholstery play a role in the look & feel of the space?</span>
            </h2>
          </div>
          <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
            <div class="card-body">
              Once the design is finalised, the next step is selecting the right fabric for the furniture and space.
              This stage is
              very important to detail which makes the space look elegant, friendly & comfortable. While there are
              endless choices one
              needs to be practical in their selection for the right space. The right upholstery is an investment, so
              it is very
              important to find a fabric you will love for a long run & yet make you comfortable.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-head collapsed" id="headingNine" data-toggle="collapse" data-target="#collapseNine"
            aria-expanded="false" aria-controls="collapseNine">
            <h2>
              Can leather sofas be reupholstered?
            </h2>
          </div>
          <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
            <div class="card-body">

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-head collapsed" id="headingTen" data-toggle="collapse" data-target="#collapseTen"
            aria-expanded="false" aria-controls="collapseTen">
            <h2>
              Do your Duvet Covers come with Pillow Case?
            </h2>
          </div>
          <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
            <div class="card-body">

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-head collapsed" id="headingEleven" data-toggle="collapse" data-target="#collapseEleven"
            aria-expanded="false" aria-controls="collapseEleven">
            <h2>
              Do you provide interior Suggestions?
            </h2>
          </div>
          <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
            <div class="card-body">

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-40 py-20">
    <div class="container-fluid">
      <div class="px-50 px-10-mob">
        <div class="row">
          <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 pl-inherit-mob pr-0-lg pr-0-web equal-image">
            <div class="d-none-mob">
              <img src="/images/design-service/de-foot.png" class="w-100p">
            </div>
            <div class="d-none-web d-none-md d-block-mob">
              <img src="/images/design-service/design-mob-q.png" class="w-100p">
            </div>
          </div>
          <div
            class="col-xl-6 col-lg-12 col-md-12 col-sm-12 pl-0-lg pl-0-web equal-text black-bg-3 br-0-lg br-0-mob br-corner-10">
            <div class="black-bg-3 p-20-mob py-20 pl-40 pr-80 text-center-lg text-center-md text-center-mob">
              <div class="heading-1 fs-40 fs-25-mob">
                Get the right assistance you need for designing your space.
              </div>
              <div class="mt-20">
                <div class="heading-2 fs-16 fs-12-mob grey-2">
                  Customisation is our biggest strength and so for measurements.
                </div>
              </div>
              <div class="mt-20">
                <button type="button" class="btn btn-5 w-80p showModal">Get Quote</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section>
  <div id="modal" class="modal">
    <div class="white-bg p-15 br-10 position-relative">
      <div class="heading-8">
        Get in touch!
      </div>

      <form class="mt-20"  id="myFormDS1">
        <div class="form-group">
          <input type="text" class="form-control" name="name" id="name1" placeholder="Name" required>
        </div>
        <div class="form-group">
          <input type="tel" class="form-control" name="phone" id="phone1" placeholder="Phone Number" required>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="email" id="email1" placeholder="Email Address" required>
        </div>
        <div class="form-group">
          <select class="form-control drop" name="area" id="area1" required>
            <option value="" disabled selected>Select Area</option>
            <option value="area1">Area 1</option>
            <option value="area2">Area 2</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="city" id="city1" placeholder="City" required>
        </div>

        <button type="submit" class="btn btn-5 w-100p mt-20">Get Quote</button>
      </form>

      <span id="closeModal" class="close-modal">&#10006;</span>
    </div>
  </div>
</section>

<div id="myModal1" class="modal zoom">
  <div class="modal-content">
    <div class="para-1">Thank you for your Interest</div>
    <div class="para-2">Will get back to you shortly.</div>
    <a type="button" class="close-btn" id="closeModal1">ok</a>
  </div>
</div>

<%= render "shared/call_back" %>
<%= render "shared/footer" %>

<style>
  ::placeholder {
    font-family: 'Jost', sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #787878 !important;
  }

  .form-control.drop {
    font-family: 'Jost', sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #787878 !important;
  }

  .form-control:focus {
    border-color: #C2C2C2 !important;
    box-shadow: none !important;
  }

  .form-control {
    height: calc(1.5em + 0.75rem + 10px) !important;
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }

  .modal.active {
    display: flex;
  }

  .modal.active .white-bg {
    width: 30%;
    /* When the modal is active, set to 30% */
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .modal.active .white-bg {
      width: 50%;
      /* When the modal is active, set to 30% */
    }
  }

  @media (max-width: 576px){
    .modal.active .white-bg {
      width: 70%;
      /* When the modal is active, set to 30% */
    }
  }

  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #000000;
    z-index: 111;
    /* Adjust color as needed */
  }
</style>

<style>
  .accordion {
    margin-top: 40px;
  }

  .accordion .card {
    border-radius: 16px !important;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    padding: 30px;
  }

  .accordion .card-head h2 {
    /* background: url('/images/faq/acc-down.png') no-repeat calc(100% - 10px) center;
  background-size: 20px; */
    cursor: pointer;
    font-size: 18px;
    font-family: 'Jost', sans-serif;
    color: #3A3A3A;
    font-weight: 600;
    width: 80%;
  }

  /* .accordion .card h2.collapsed {
    background-image: url('/images/faq/acc-down.png');
  } */

  .accordion .card-body {
    color: #515151;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  .card-head {
    position: relative;
  }

  .card-head::after {
    content: '';
    background-image: url('/images/faq/grey-arrow.png');
    /* Replace with the actual path to your arrow image */
    background-size: contain;
    display: inline-block;
    width: 20px;
    /* Adjust the width as needed */
    height: 20px;
    /* Adjust the height as needed */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .card-head.collapsed::after {
    background-image: url('/images/faq/acc-down.png');
  }

  @media (max-width: 767px) {
    .accordion .card {
      padding: 15px;
    }

    .accordion .card-head h2 {
      font-size: 14px;
    }

    .accordion .card-body {
      font-size: 14px;
      line-height: 20px;
      padding: 0.7rem !important;
    }

  }
</style>

<script>
  $(document).ready(function () {
    $(".showModal").click(function () {
      $("#modal").addClass("active");
    });

    $("#closeModal").click(function () {
      $("#modal").removeClass("active");
    });

  });

  jQuery(document).ready(function($) {
    $('#myFormDS').submit(function(e) {
      e.preventDefault(); // Prevent the default form submission

      // Get form data
      var formData = {
        name: $('#name').val(),
        phone: $('#phone').val(),
        email: $('#email').val(),
        area: $('#area').val(),
        city: $('#city').val()
      };

      var csrfToken = $('meta[name=csrf-token]').attr('content');

      // Send AJAX request
      $.ajax({
        type: 'POST',
        url: '<%= send_design_service_mail_path %>',
        headers: {
          'X-CSRF-Token': csrfToken
        },
        data: formData,
        success: function(response) {
          // Assuming your modal has the ID "myModal"
          $('#myModal1').show();
        },
        error: function(error) {
          console.error('Error submitting the form:', error);
        }
      });
    });

    $('#myFormDS1').submit(function(e) {
      e.preventDefault(); // Prevent the default form submission

      // Get form data
      var formData = {
        name: $('#name1').val(),
        phone: $('#phone1').val(),
        email: $('#email1').val(),
        area: $('#area1').val(),
        city: $('#city1').val()
      };

      var csrfToken = $('meta[name=csrf-token]').attr('content');

      // Send AJAX request
      $.ajax({
        type: 'POST',
        url: '<%= send_design_service_mail_path %>',
        headers: {
          'X-CSRF-Token': csrfToken
        },
        data: formData,
        success: function(response) {
          // Assuming your modal has the ID "myModal"
          $('#myModal1').show();
        },
        error: function(error) {
          console.error('Error submitting the form:', error);
        }
      });
    });

    // Close modal when the close button is clicked
    $('#closeModal1').click(function() {
      $('#myModal1').hide();
      $('#myFormDS')[0].reset();
      $('#myFormDS1')[0].reset();
      $("#modal").removeClass("active");
      // location.reload();
    });

  });

</script>
