<%= render "shared/header" %>

  <section class="bg-images" style="background-image: url('/images/our-service/our-service-banner.png');">
    <div class="bg-shadow-1 h-90vh h-80vh-lg h-80vh-md h-80vh-mob">
      <div class="container">
        <div class="h-90vh h-80vh-lg h-80vh-md h-80vh-mob d-flex align-items-center justify-content-center">
          <div>
            <div class="heading-4 white fs-26 fs-18-mob text-upper text-center">
              Our services
            </div>
            <div data-aos="fade-up" class="mt-15 w-90p w-90p-mob mx-auto fs-35-mob heading-1 text-center">
              Elevate Your Space with Tailored Elegance<br>
              “Our Exclusive Home Decor Services”
            </div>
            <div data-aos="fade-up" class="mt-30 w-70p w-90p-mob mx-auto fs-14-mob heading-3 white text-center">
              Unveil tailored luxury with our home decor expertise. From precise measurements to expert stitching and seamless
              installations, let us redefine elegance for your space. Our skilled artisans and design experts will curate a haven of
              sophistication that uniquely reflects your taste
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="py-50 sandal-bg">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <a href="">
              <div class="img-overlay">
                <img src="/images/our-service/service-1.png" class="w-100p">
              </div>
              <div class="text-overlay">
                <svg xmlns="http://www.w3.org/2000/svg" width="68" height="68" viewBox="0 0 98 98" fill="none">
                  <circle cx="49" cy="49" r="49" fill="black" fill-opacity="0.3" />
                  <path
                    d="M70.5 48.634C71.1667 49.0189 71.1667 49.9811 70.5 50.366L38.25 68.9856C37.5833 69.3705 36.75 68.8893 36.75 68.1195L36.75 30.8805C36.75 30.1107 37.5833 29.6295 38.25 30.0144L70.5 48.634Z"
                    fill="white" />
                </svg>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <div class="mx-30">
              <div class="heading-1 black-4 fs-25">
                Measurement Services
              </div>
              <div class="mt-15 heading-2 dark-grey fs-16">
                Elevate your home transformation with our meticulous Measurement Services. Precision is our promise as our dedicated
                experts measure every detail, ensuring your windows and walls, home space are tailored with utmost accuracy. From
                capturing dimensions to understanding your unique vision, our measurements lay the foundation for a customised, elegant
                space that reflects your distinctive style.
              </div>
              <div class="mt-30 mt-sm-10 ">
                <a href="<%= book_services_path %>" class="btn_main">
                  <span class="">
                    <img class="w-sm-16 w-35px hidden btn_icon ml-3" src="/images/our-service/phone-service.png" />
                  </span>
                  <span class="">
                    <img class="btn_icon_2" src="/images/our-service/phone-service.png" />
                  </span>
                  <span class="btn_text">Book Now</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-50">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <a href="">
              <div class="img-overlay">
                <img src="/images/our-service/service-2.png" class="w-100p">
              </div>
              <div class="text-overlay">
                <svg xmlns="http://www.w3.org/2000/svg" width="68" height="68" viewBox="0 0 98 98" fill="none">
                  <circle cx="49" cy="49" r="49" fill="black" fill-opacity="0.3" />
                  <path
                    d="M70.5 48.634C71.1667 49.0189 71.1667 49.9811 70.5 50.366L38.25 68.9856C37.5833 69.3705 36.75 68.8893 36.75 68.1195L36.75 30.8805C36.75 30.1107 37.5833 29.6295 38.25 30.0144L70.5 48.634Z"
                    fill="white" />
                </svg>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <div class="mx-30">
              <div class="heading-1 black-4 fs-25">
                Stitching Services
              </div>
              <div class="mt-15 heading-2 dark-grey fs-16">
                Immerse your living spaces in bespoke luxury with our Stitching Services. Our skilled artisans bring craftsmanship to
                life, meticulously stitching curtains and wall coverings that seamlessly blend sophistication with your personal touch.
                From fabric selection to the final stitch, we weave elegance into every thread, creating custom pieces that resonate
                with the heart of your home.
              </div>
              <div class="mt-30 mt-sm-10 ">
                <a href="<%= book_services_path %>" class="btn_main">
                  <span class="">
                    <img class="w-sm-16 w-35px hidden btn_icon ml-3" src="/images/our-service/phone-service.png" />
                  </span>
                  <span class="">
                    <img class="btn_icon_2" src="/images/our-service/phone-service.png" />
                  </span>
                  <span class="btn_text">Book Now</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-50 sandal-bg">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <a href="">
              <div class="img-overlay">
                <img src="/images/our-service/service-3.png" class="w-100p">
              </div>
              <div class="text-overlay">
                <svg xmlns="http://www.w3.org/2000/svg" width="68" height="68" viewBox="0 0 98 98" fill="none">
                  <circle cx="49" cy="49" r="49" fill="black" fill-opacity="0.3" />
                  <path
                    d="M70.5 48.634C71.1667 49.0189 71.1667 49.9811 70.5 50.366L38.25 68.9856C37.5833 69.3705 36.75 68.8893 36.75 68.1195L36.75 30.8805C36.75 30.1107 37.5833 29.6295 38.25 30.0144L70.5 48.634Z"
                    fill="white" />
                </svg>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <div class="mx-30">
              <div class="heading-1 black-4 fs-25">
              Installation Services
              </div>
              <div class="mt-15 heading-2 dark-grey fs-16">
                Experience a seamless fusion of style and functionality with our Installation Services. Beyond crafting exquisite window
                and wall coverings, our experts ensure flawless integration into your space. The installation process is a curated dance
                of precision, transforming your home into a harmonious symphony of design and practicality, leaving no detail
                overlooked.
              </div>
              <div class="mt-30 mt-sm-10 ">
                <a href="<%= book_services_path %>" class="btn_main">
                  <span class="">
                    <img class="w-sm-16 w-35px hidden btn_icon ml-3" src="/images/our-service/phone-service.png" />
                  </span>
                  <span class="">
                    <img class="btn_icon_2" src="/images/our-service/phone-service.png" />
                  </span>
                  <span class="btn_text">Book Now</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-50">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <a href="">
              <div class="img-overlay">
                <img src="/images/our-service/service-41.png" class="w-100p">
              </div>
              <div class="text-overlay">
                <svg xmlns="http://www.w3.org/2000/svg" width="68" height="68" viewBox="0 0 98 98" fill="none">
                  <circle cx="49" cy="49" r="49" fill="black" fill-opacity="0.3" />
                  <path
                    d="M70.5 48.634C71.1667 49.0189 71.1667 49.9811 70.5 50.366L38.25 68.9856C37.5833 69.3705 36.75 68.8893 36.75 68.1195L36.75 30.8805C36.75 30.1107 37.5833 29.6295 38.25 30.0144L70.5 48.634Z"
                    fill="white" />
                </svg>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <div class="mx-30">
              <div class="heading-1 black-4 fs-25">
                After Sales Service:
              </div>
              <div class="mt-15 heading-2 dark-grey fs-16">
                Extend the journey of elegance beyond purchase with our After Sales Service. From personalised assistance to warranty
                assurance, our commitment continues to enhance your home decor experience. Trust us to stand by you, ensuring that the
                beauty and quality of your decor endure over time.
              </div>
              <div class="mt-30 mt-sm-10 ">
                <a href="<%= book_services_path %>" class="btn_main">
                  <span class="">
                    <img class="w-sm-16 w-35px hidden btn_icon ml-3" src="/images/our-service/phone-service.png" />
                  </span>
                  <span class="">
                    <img class="btn_icon_2" src="/images/our-service/phone-service.png" />
                  </span>
                  <span class="btn_text">Book Now</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render "shared/call_back" %>

    <%= render "shared/footer" %>

      <style>
        /* btn animations */

        .btn_main {
          cursor: pointer;
          text-decoration: none;
          padding: 1px;
          /* background: #009cd8 !important; */
          display: inline-block;
          position: relative;
          overflow: hidden;
          height: 37px;
          border-radius: 30px;
          transition: all 0.4s;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -ms-transition: all 0.4s;
          -o-transition: all 0.4s;
        }

        .hidden {
          display: none;
        }

        .btn_text {
          display: inline-block;
          font-family: "Lexend",
            sans-serif;
          font-style: normal;
          color: #A7833D;
          font-weight: 500;
          font-size: 14px;
          vertical-align: middle;
          margin-left: 8px;
          position: absolute;
          top: 8px;
          left: -40px;
          visibility: hidden;
          transition: all 0.4s;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -ms-transition: all 0.4s;
          -o-transition: all 0.4s;
        }

        .btn_main:hover .btn_text {
          visibility: visible;
          top: 8px;
          left: 12px;
          color: #A7833D;
        }

        .btn_main:hover {
          padding: 0px 0px 10px 100px;
          border-radius: 30px;
          /* background: #009cd8 !important; */
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
          border: 1px solid #A7833D;
        }

        .btn_main:hover .btn_icon {
          display: block !important;
        }

        .btn_main:hover .btn_icon_2 {
          display: none !important;
        }

        .btn_icon_2 {
          height: 100% !important;
        }

        /* .btn-search {
          background: #71C9EB;
          border-radius: 10px;
          font-family: "Open Sans",
            sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: #FFFFFF;
          padding: 11px 10px 11px 10px !important;
        } */
      </style>