<%= render "shared/header" %>

  <section class="bg-images" style="background-image: url('/images/contact/contact-banner1.png');">
    <div class="bg-shadow-1 h-90vh h-80vh-lg h-80vh-md h-80vh-mob">
      <div class="container">
        <div class="h-90vh h-80vh-lg h-80vh-md h-80vh-mob d-flex align-items-center justify-content-center">
          <div class="zoom">
            <div data-aos="fade-up" class="heading-4 white fs-26 fs-18-mob text-upper text-center">
              Vendor Registration
            </div>
            <div data-aos="fade-up" class="mt-15 w-70p w-90p-mob mx-auto fs-35-mob heading-1 text-center">
              Reach out to us
            </div>
            <div data-aos="fade-up" class="mt-30 w-70p w-90p-mob mx-auto fs-14-mob heading-3 white text-center">
              Whether you're starting a new project or just curious about our offerings, we're here to assist you on
              your journey to
              elevated living.

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-80 mt-40-mob mb-50 zoom">
    <div class="container-1">
      <div class="row">
        <div class="col-lg-7 col-md-6">
          <div class="heading-1 black-1 fs-35 fs-25-mob" data-aos="fade-up">
            Let the conversation begin!
          </div>
          <div class="mt-30 mt-20-mob heading-2 black-3 fs-18 fs-14-mob" data-aos="fade-up">
            Have a question, a custom project in mind, or simply want to say hello? We'd love to hear from you. Feel
            free to reach
            out
          </div>
          <form id="myForm" class="mt-50" data-aos="fade-up">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" required>

            <label for="lastName">Last Name</label>
            <input type="text" name="lname" id="lname">

            <label for="email">Email*</label>
            <input type="email" name="email" id="email" required>

            <label for="phoneNumber">Phone Number</label>
            <input type="tel" name="mobile" id="mobile">

            <label for="address">Address</label>
            <input type="text" name="address" id="address">

            <label for="country">Country</label>
            <select id="country" class="w-100p" name="country" required>
              <option value="" disabled selected>Select a Category</option>
              <option value="usa">United States</option>
              <option value="canada">Canada</option>
              <option value="uk">United Kingdom</option>
              <!-- Add more options as needed -->
            </select>

            <label for="attachment">Attachment (Image)</label>
            <input type="file" id="attachment" name="attachment" accept="image/*">

            <div class="mt-50 mt-30-mob" data-aos="flip-up">
              <button type="submit" class="btn btn-3">Submit</button>
            </div>
          </form>
        </div>

        <div class="col-lg-1 col-md-1"></div>

        <div class="col-lg-4 col-md-5 mt-40-mob">
          <section>
            <div class="heading-1 black-1 fs-25-mob fs-30" data-aos="fade-down">
              For further Quaries
            </div>
            <div class="d-flex mt-50 mt-30-mob" data-aos="fade-down">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 34 34" fill="none">
                  <path
                    d="M28.3332 15.5818H31.1665C31.1665 8.31433 25.6798 2.83325 18.4023 2.83325V5.66659C24.1568 5.66659 28.3332 9.83583 28.3332 15.5818Z"
                    fill="#1E1E1E" />
                  <path
                    d="M18.4171 11.3333C21.3963 11.3333 22.6671 12.604 22.6671 15.5833H25.5004C25.5004 11.0145 22.9858 8.49993 18.4171 8.49993V11.3333ZM23.2649 19.0442C22.9927 18.7968 22.635 18.6648 22.2673 18.6762C21.8996 18.6875 21.5507 18.8413 21.2943 19.1051L17.9042 22.5915C17.0882 22.4357 15.4477 21.9243 13.7591 20.2398C12.0704 18.5498 11.559 16.905 11.4074 16.0947L14.891 12.7032C15.1551 12.4469 15.3091 12.098 15.3205 11.7302C15.3318 11.3624 15.1997 11.0047 14.9519 10.7326L9.71732 4.97668C9.46946 4.70377 9.12498 4.53823 8.75703 4.51522C8.38909 4.4922 8.02666 4.61353 7.74673 4.85343L4.67257 7.48985C4.42764 7.73566 4.28145 8.06282 4.26173 8.40926C4.24048 8.76343 3.83532 17.1529 10.3407 23.6611C16.0158 29.3348 23.1247 29.7499 25.0825 29.7499C25.3687 29.7499 25.5443 29.7414 25.5911 29.7386C25.9375 29.7192 26.2644 29.5724 26.5091 29.3263L29.1441 26.2508C29.3841 25.971 29.5057 25.6087 29.483 25.2408C29.4602 24.8728 29.2949 24.5282 29.0222 24.2802L23.2649 19.0442Z"
                    fill="#1E1E1E" />
                </svg>
              </div>
              <div class="ml-20">
                <div class="heading-7"><a href="tel:+918148107736"><span class="heading-7 fs-20-mob">+91 81481
                      07736</span></a>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center mt-30" data-aos="fade-down">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                  <path
                    d="M29.1042 5.29199H2.64453V26.4597H29.1042V5.29199ZM26.4582 10.5839L15.8743 17.1988L5.29049 10.5839V7.93795L15.8743 14.5529L26.4582 7.93795V10.5839Z"
                    fill="#2D2D2D" />
                </svg>
              </div>
              <div class="ml-20">
                <a href="mailto:info@elandecor.in"><span
                    class="heading-2 black-4 fs-20-mob">info@elandecor.in</span></a>
              </div>
            </div>
            <div class="d-flex mt-50 mt-30-mob" data-aos="fade-down">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
                  <path
                    d="M15.8755 2.88501C12.9819 2.88842 10.2077 4.03945 8.16153 6.08559C6.11539 8.13174 4.96436 10.9059 4.96095 13.7996C4.95748 16.1643 5.72991 18.4649 7.15974 20.3484C7.15974 20.3484 7.45742 20.7403 7.50603 20.7969L15.8755 30.6676L24.249 20.7919C24.2927 20.7393 24.5913 20.3484 24.5913 20.3484L24.5923 20.3454C26.0215 18.4627 26.7935 16.1632 26.7901 13.7996C26.7867 10.9059 25.6357 8.13174 23.5896 6.08559C21.5434 4.03945 18.7692 2.88842 15.8755 2.88501ZM15.8755 17.7685C15.0906 17.7685 14.3232 17.5358 13.6705 17.0997C13.0178 16.6635 12.5091 16.0437 12.2087 15.3185C11.9083 14.5932 11.8297 13.7952 11.9829 13.0253C12.136 12.2554 12.514 11.5482 13.0691 10.9931C13.6241 10.4381 14.3313 10.0601 15.1012 9.90692C15.8711 9.75378 16.6692 9.83238 17.3944 10.1328C18.1196 10.4332 18.7395 10.9419 19.1756 11.5946C19.6117 12.2473 19.8445 13.0146 19.8445 13.7996C19.8432 14.8518 19.4246 15.8606 18.6806 16.6046C17.9365 17.3487 16.9278 17.7672 15.8755 17.7685Z"
                    fill="#2D2D2D" />
                </svg>
              </div>
              <div class="heading-2 black-4 fs-18-mob ml-20">
                17, Kasturi Rangan Rd, Poes Garden, Alwarpet, Chennai, Tamil Nadu 600018
              </div>
            </div>
          </section>
          <section class="mt-50 mt-30-mob">
            <div class="heading-1 black-1 fs-30 fs-25-mob" data-aos="fade-down">
              Store Timmings
            </div>
            <div class="mt-20">
              <div class="heading-2 black-4 fs-20-mob mt-20" data-aos="fade-down">
                10:00 am to 8:00 pm
              </div>
              <div class="heading-2 black-4 fs-20-mob mt-20" data-aos="fade-down">
                Sunday - Holiday
              </div>
            </div>
          </section>
          <section class="mt-50 mt-30-mob">
            <div class="" data-aos="fade-down">
              <a href="mailto:info@elandecor.in"><span
                  class="heading-1 black-1 fs-25-mob fs-30">info@elandecor.in</span></a>
            </div>
            <div class="d-flex align-items-center mt-20" data-aos="fade-down">
              <div>
                <a href="https://www.facebook.com/ELANFurnishings">
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="29" viewBox="0 0 15 29" fill="none">
                    <g clip-path="url(#clip0_474_1379)">
                      <path
                        d="M3.98427 28.7904V15.3782H0.335938V10.5492H3.98427V6.42462C3.98427 3.18347 6.13936 0.207031 11.1051 0.207031C13.1157 0.207031 14.6024 0.394395 14.6024 0.394395L14.4853 4.90387C14.4853 4.90387 12.969 4.88952 11.3145 4.88952C9.52375 4.88952 9.23685 5.69172 9.23685 7.02316V10.5492H14.6276L14.393 15.3782H9.23685V28.7904H3.98427Z"
                        fill="#2D2D2D" />
                    </g>
                    <defs>
                      <clipPath id="clip0_474_1379">
                        <rect width="14.2917" height="28.5833" fill="white" transform="translate(0.335938 0.208008)" />
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </div>
              <div class="ml-30">
                <a href="https://www.youtube.com/@elanfurnishing">
                  <svg xmlns="http://www.w3.org/2000/svg" width="42" height="33" viewBox="0 0 42 33" fill="none">
                    <rect width="41.25" height="33" rx="10.3125" fill="black" />
                    <path
                      d="M27.8437 14.7138C29.2187 15.5077 29.2187 17.4923 27.8437 18.2862L18.5625 23.6447C17.1875 24.4386 15.4688 23.4462 15.4688 21.8585L15.4688 11.1415C15.4688 9.55376 17.1875 8.56143 18.5625 9.35529L27.8437 14.7138Z"
                      fill="white" />
                  </svg>
                </a>
              </div>
              <div class="ml-30">
                <a href=" https://www.instagram.com/elanfurnishing/" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="34" height="37" viewBox="0 0 34 37" fill="none">
                    <g clip-path="url(#clip0_474_1371)">
                      <path
                        d="M16.7133 10.2472C12.0758 10.2472 8.33515 13.9294 8.33515 18.4944C8.33515 23.0594 12.0758 26.7416 16.7133 26.7416C21.3508 26.7416 25.0914 23.0594 25.0914 18.4944C25.0914 13.9294 21.3508 10.2472 16.7133 10.2472ZM16.7133 23.8562C13.7164 23.8562 11.2664 21.4516 11.2664 18.4944C11.2664 15.5372 13.7091 13.1326 16.7133 13.1326C19.7174 13.1326 22.1601 15.5372 22.1601 18.4944C22.1601 21.4516 19.7101 23.8562 16.7133 23.8562ZM27.3883 9.90982C27.3883 10.9793 26.5133 11.8335 25.4341 11.8335C24.3476 11.8335 23.4799 10.9721 23.4799 9.90982C23.4799 8.84752 24.3549 7.98619 25.4341 7.98619C26.5133 7.98619 27.3883 8.84752 27.3883 9.90982ZM32.9372 11.8622C32.8133 9.28536 32.2153 7.00284 30.2976 5.12228C28.3872 3.24171 26.0685 2.65314 23.4508 2.52394C20.7528 2.37321 12.6664 2.37321 9.96848 2.52394C7.35807 2.64596 5.03932 3.23453 3.12161 5.1151C1.20391 6.99566 0.613281 9.27818 0.482031 11.855C0.328906 14.5107 0.328906 22.4708 0.482031 25.1266C0.605989 27.7034 1.20391 29.9859 3.12161 31.8665C5.03932 33.7471 7.35078 34.3356 9.96848 34.4648C12.6664 34.6156 20.7528 34.6156 23.4508 34.4648C26.0685 34.3428 28.3872 33.7542 30.2976 31.8665C32.208 29.9859 32.806 27.7034 32.9372 25.1266C33.0903 22.4708 33.0903 14.5179 32.9372 11.8622ZM29.4518 27.9762C28.8831 29.383 27.782 30.4668 26.3456 31.0339C24.1945 31.8737 19.0904 31.6799 16.7133 31.6799C14.3362 31.6799 9.22473 31.8665 7.08098 31.0339C5.65182 30.474 4.55078 29.3902 3.97474 27.9762C3.12161 25.8587 3.31849 20.8343 3.31849 18.4944C3.31849 16.1544 3.1289 11.1229 3.97474 9.01261C4.54349 7.60577 5.64453 6.52193 7.08098 5.95489C9.23202 5.1151 14.3362 5.3089 16.7133 5.3089C19.0904 5.3089 24.2018 5.12228 26.3456 5.95489C27.7747 6.51476 28.8758 7.59859 29.4518 9.01261C30.3049 11.13 30.1081 16.1544 30.1081 18.4944C30.1081 20.8343 30.3049 25.8659 29.4518 27.9762Z"
                        fill="#2D2D2D" />
                    </g>
                    <defs>
                      <clipPath id="clip0_474_1371">
                        <rect width="32.6667" height="36.75" fill="white" transform="translate(0.371094 0.125977)" />
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </div>
              <div class="ml-30">
                <a href="https://in.pinterest.com/ELANFurnishings/" target="_blank">
                  <img src="/images/contact/contact-us-pin.png" width="34">
                </a>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>

  <div id="myModal" class="modal zoom">
    <div class="modal-content">
      <div class="para-1">Thank you for applying with us</div>
      <div class="para-2">Our Team will get back to you for future requirements</div>
      <a type="button" class="close-btn" id="closeModal">ok</a>
    </div>
  </div>

  <%= render "shared/call_back" %>

    <%= render "shared/google_map" %>

    <%= render "shared/footer" %>

      <style>
        /* Add some basic styling to the form */
        form {
          width: 80%;
        }

        #myForm label,
        input {
          display: block;
          margin-bottom: 5px;
        }

        #myForm label {
          color: #8D8D8D;
          font-family: 'Jost', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
        }

        #myForm input {
          width: 100%;
          padding: 5px;
          border: none;
          border-bottom: 1px solid #8D8D8D;
          /* Add a line under the input */
          margin-bottom: 40px;
        }

        #myForm select {
          margin-bottom: 40px;
        }

        /* Remove the default input focus outline */
        #myForm input:focus {
          outline: none;
        }

        .form-check input {
          margin-top: 0px;
          margin-bottom: 0px;
          margin-right: 10px !important;
        }

        .form-check-inline {
          margin-top: 20px !important;
          margin-right: 20px !important;
        }

        .form-check-label {
          color: #2D2D2D;
          font-family: 'Poppins', sans-serif;
          font-size: 15.742px;
          font-style: normal;
          font-weight: 400;
          line-height: 26.236px;
          /* 166.667% */
        }

        .form-group label {
          color: #8D8D8D;
          font-family: 'Poppins', sans-serif;
          font-size: 15.742px;
          font-style: normal;
          font-weight: 500;
          line-height: 26.236px;
          /* 166.667% */
        }

        @media (max-width: 576px) {
          .container-1 {
            margin-left: 30px;
            margin-right: 30px;
          }
        }
      </style>

      <script>
        // Use no-conflict mode to avoid conflicts with other libraries
        jQuery(document).ready(function ($) {
          $('#myForm').submit(function (e) {
            e.preventDefault(); // Prevent the default form submission

            // Get form data
            var formData = {
              fname: $('#fname').val(),
              lname: $('#lname').val(),
              email: $('#email').val(),
              mobile: $('#mobile').val(),
              message: $('#message').val()
            };

            var csrfToken = $('meta[name=csrf-token]').attr('content');

            // Send AJAX request
            $.ajax({
              type: 'POST',
              url: '<%= send_contact_mail_path %>',
              headers: {
                'X-CSRF-Token': csrfToken
              },
              data: formData,
              success: function (response) {
                // Assuming your modal has the ID "myModal"
                $('#myModal').show();
              },
              error: function (error) {
                console.error('Error submitting the form:', error);
              }
            });
          });

          // Close modal when the close button is clicked
          $('#closeModal').click(function () {
            $('#myModal').hide();
            $('#myForm')[0].reset();
            // location.reload();
          });
        });

      </script>