<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <hr>
    <h3>Booked Service Details:</h3>
    <p>First Name: <%= @fname %></p>
    <p>Last Name: <%= @lname %></p>
    <p>Email: <%= @email %></p>
    <p>Services: <%= @service %></p>
    <p>Phone: <%= @phone %></p>
    <p>Message: <%= @message %></p>
    <hr>
  </body>
</html>