<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <hr>
    <h3>Vendor Registration Details:</h3>
    <p>First Name: <%= @fname %></p>
    <p>Last Name: <%= @lname %></p>
    <p>Email: <%= @email %></p>
    <p>Phone: <%= @phone %></p>
    <p>Address: <%= @address %></p>
    <p>Country: <%= @country %></p>
    <p>Company Name: <%= @company_name %></p>
    <hr>
  </body>
</html>
