<%= render "shared/header" %>

<section class="bg-images" style="background-image: url('/images/our-collections/collection-banner.png');">
    <div class="bg-shadow-1 h-90vh">
        <div class="container">
            <div class="h-90vh d-flex align-items-center justify-content-center">
                <div>
                    <div data-aos="fade-up" class="mt-15 w-70p w-90p-mob mx-auto fs-35-mob heading-1 text-center">
                        Elevating with our products
                    </div>
                    <div data-aos="fade-up" class="mt-30 w-70p w-90p-mob mx-auto fs-14-mob heading-3 white text-center">
                        It is a long established fact that a reader will be distracted by the of readable content of a page.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sandal-bg py-50">
    <div class="container">
        <div class="row">
            <% (0...@num_batches).each do |batch_number| %>
                <% offset_value = batch_number * @loop_size %>
                <% batch = @categories.offset(offset_value).limit(@loop_size) %>

                <% batch.each_with_index do |data, index| %>
                    <% if index == 0 %>
                        <div class="col-md-12 mt-30">
                            <a href="<%= show_product_path(data) %>">
                                <div class="position-relative">
                                    <img src="<%= data.image_url(:large) %>" class="w-100p">
                                    <div class="collection-position"></div>
                                    <div class="heading-8 white position-4 text-upper">
                                        <%= data.name %>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% end %>
                    <% if index == 1 %>
                        <div class="col-md-6 mt-30">
                            <a href="<%= show_product_path(data) %>">
                                <div class="position-relative">
                                    <img src="<%= data.image2_url(:large) %>" class="w-100p">
                                    <div class="collection-position"></div>
                                    <div class="heading-8 white position-4 text-upper">
                                        <%= data.name %>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% end %>
                    <% if index == 2 %>
                        <div class="col-md-6 mt-30">
                            <a href="<%= show_product_path(data) %>">
                                <div class="position-relative">
                                    <img src="<%= data.image2_url(:large) %>" class="w-100p">
                                    <div class="collection-position"></div>
                                    <div class="heading-8 white position-4 text-upper">
                                        <%= data.name %>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
</section>

<%= render "shared/call_back" %>

<%= render "shared/footer" %>