<%= render "shared/header" %>

<section class="bg-images" style="background-image: url('<%= @category.image_url(:large) %>');">
    <div class="bg-shadow-1 h-90vh h-80vh-lg h-80vh-md h-80vh-mob">
        <div class="container-fluid">
            <div class="h-90vh h-80vh-lg h-80vh-md h-80vh-mob d-flex align-items-center justify-content-center">
                <div class="zoom">
                    <!-- <div class="heading-4 white fs-26 fs-18-mob text-upper text-center">
                        Our services
                    </div> -->
                    <div data-aos="fade-up" class="mt-15 w-70p w-90p-mob mx-auto fs-35-mob heading-1 text-center">
                        <%= @category.name %>
                    </div>
                    <div data-aos="fade-up" class="mt-30 w-70p w-90p-mob mx-auto fs-14-mob heading-3 white text-center">
                        <%= @category.description %>
                        It is a long established fact that a reader will be distracted by the of readable content of a page.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sandal-bg zoom">
    <div class="container">
        <div class="py-50">
            <div class="row">
                <div class="col-lg-9 col-md-7">
                    <div class="heading-1 black-10 fs-25-mob fs-35" data-aos="fade-down">
                        Request a call back
                    </div>
                    <div class="mt-30 mt-20-mob">
                        <div class="heading-2 fs-18 fs-14-mob black-3" data-aos="fade-down">
                        Have a question, a custom project in mind, or simply want to say hello? We'd love to hear from you. Feel
                        free to reach
                        out
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 justify-end justify-start-mob align-end d-flex-lg mt-30-mob" data-aos="flip-down">
                    <a href="<%= contact_us_path %>" type="button" class="btn btn-4">Send Request</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="zoom">
    <div class="container">
        <div class="row">
            <% @category.category_images.each do |data| %>
                <div class="col-md-6 col-6 mt-30" data-aos="zoom-in">
                    <img src="<%= data.image_url(:large)%>" class="w-100p">
                </div>
            <% end %>
        </div>
    </div>
</section>

<section class="sandal-bg mt-30 zoom">
    <div class="container">
        <div class="py-50 text-center">
            <div class="heading-1 black-10 fs-25-mob fs-35" data-aos="fade-up">
                Request a call back
            </div>
            <div class="mt-30">
                <div class="heading-2 fs-18 fs-14-mob black-3" data-aos="fade-up">
                    Have a question, a custom project in mind, or simply want to say hello? We'd love to hear from you. Feel
                    free to reach
                    out
                </div>
            </div>
            <div class="mt-30" data-aos="flip-up">
                <a href="<%= contact_us_path %>" type="button" class="btn btn-4">Send Request</a>
            </div>
        </div>
    </div>
</section>

<div class="mt-50">
    <%= render "shared/call_back" %>
</div>

<%= render "shared/footer" %>

<style>
    @media (max-width: 576px) {
        .btn-4 {
            padding: 10px 30px !important;
            font-size: 12px !important;
        }
    }
</style>