<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <hr>
    <h3>Design Service Details:</h3>
    <p>Name: <%= @name %></p>
    <p>Phone: <%= @phone %></p>
    <p>Email: <%= @email %></p>
    <p>Area: <%= @area %></p>
    <p>City: <%= @city %></p>
    <hr>
  </body>
</html>